.header {
  text-align: justify;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #E06721;
  color: white;  
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  border-radius: 10px;
}

img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}
